{% extends "base.html" %}
{% block content %}
    <br>
    <div style="max-width: 100%; margin: 0;" class="row justify-content-center text-center">
    <div class="col-2"></div>
    <div class="col-5"><img class="rounded" src="{{  osoba_detail.fotka.url }}" style="width:500px;height: 350px;object-fit: cover"
                            alt="{{ osoba_detail.typ }} {{ osoba_detail.velikost}}" ></div>
    <div style="text-align: left" class="col-3">
        <p>Jméno a příjmení: {{ osoba_detail.jmeno }} {{ osoba_detail.prijmeni }}</p>
        <p>Reputace: {{ osoba_detail.reputace }}</p>
    </div>
    <div class="col-2"></div>
    </div>
{% endblock %}